<template name="main">
  <head>
    <title>Quiz App</title>
  </head>
  <div class="container">
    <div class="login">
      {{> loginButtons}}
    </div>
    <div class="container">
      <div class="addUpdateArea">
        <div class="minimizedSearchArea">
        </div>
        <div class="fullAddUpdateArea">
          {{>addCard}}
        </div>
        <div class="fullUpdateArea">
          {{>updateCard}}
        </div>
      </div>
      <div class="searchArea">
        {{> esInput index="tags" placeholder="Search Cards by Tag" }}
      </div>
      <div class="filterArea">
        {{> rangeFilter}}
      </div>
  </div>
      {{> yield}}
  </div>
</template>
