/* card fliping behavaior */
.card {
  /*width: 100px;*/
  height: 100px;
}

.card__front,
.card__back {
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ADFF2F;
}

.card__back {
  background-color: #FFA07A;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.bordered {
  border: 2px solid #ccc;
}

.btn-primary {
color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
/*insertform styles*/
.glyphicon-plus:before {
  content: "\2b";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*card editing styles*/
.startEditingCard{
  background-color: gray;
}

.cardUpdate{
  display: none;
}
.cardUpdate .list-group-item.autoform-array-item .autoform-array-item-body{
  width: auto;
}

.addCard .list-group-item.autoform-array-item .autoform-array-item-body{
  width: auto;
}
